.aqua-detail-bar {
    .aqua-menu-level-1 {
        // border-bottom: 1px solid rgba(255, 255, 255, .9);
        > .aqua-menu-item {
            background-color: rgba(41, 45, 57, .6);
            // box-shadow: 5px 2px 5px rgba(0, 0, 0, 1);
        }
        > .aqua-menu-list {
            > .aqua-menu-level-2 {
                &:before {
                    border-left: 0;
                }
            }
        }
    }
    .aqua-menu-level-1 + .aqua-menu-level-1 {
        margin-top: 26px;
    }
    .aqua-menu-level-2 {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 2px;
            display: inline-block;
            border-left: 1px solid rgba(255, 255, 255, .1);
        }
        &:hover:before {
            border-left: 1px solid rgba(255, 255, 255, .3);
        }
    }
        .aqua-menu-list {
            padding-left: 10px;
            list-style-type: none;
        }
        .aqua-menu-item {
            &:hover {
                // background-color: rgba(255, 255, 255, .1);
                background-color: rgba(50, 140, 210, 1);
            }
            padding: 0 12px;
            height: 26px;
            line-height: 26px;
            .aqua-icon {
                display: inline-block;
                margin-right: 6px;
                width: 6px;
                height: 6px;
                font-size: 12px;
                border: 1px solid rgba(255, 255, 255, .9);
                transform: rotate(45deg);
                vertical-align: middle;
            }
            .aqua-icon-js {
                background-color: rgba(203, 203, 59, 1);
            }
            .aqua-icon-html {
                background-color: rgba(240, 101, 42, 1);
            }
            .aqua-icon-css, .aqua-icon-scss {
                background-color: rgba(31, 136, 202, 1);
            }
            .aqua-icon-folder {
                background-color: rgba(255, 255, 255, .9);
            }
            .aqua-icon-project {
                background-color: rgba(239, 179, 217, 1);
            }
            .aqua-name {
                display: inline-block;
                vertical-align: middle;
                color: rgba(255, 255, 255, .9);
                font-size: 12px;
                font-family: Consolas;
            }
        }
}











.aqua {
    display: flex;
    position: relative;
    height: 100%;
    font-size: 0;
    contain: strict;

    .aqua-function-bar {
        flex: 0 0 40px;
        background-color: rgba(41, 45, 57, .6);
    }
    .aqua-detail-bar {
        flex: 0 0 260px;
        background-color: rgba(41, 45, 57, .8);
    }
    .aqua-stage {
        display: flex;
        flex-flow: column;
        flex: 1 1 auto;
    }

    .aqua-head-menu {
        flex: 0 0 40px;
        background-color: rgba(41, 45, 57, 0.95);
        .aqua-head-menu-list {
            display: flex;
            height: 100%;

            .aqua-head-menu-item {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                background-color: rgba(255, 255, 255, .1);
                cursor: default;
                .icon {
                    margin: 0 10px 0 16px;
                    border: 2px solid white;
                    width: 8px;
                    height: 8px;
                    transform: rotate(45deg);
                }
                .title {
                    font-size: 12px;
                    font-family: Consolas;
                    color: rgba(255, 255, 255, .9);
                }
                .close {
                    display: flex;
                    align-items: center;
                    margin-left: 30px;
                    padding: 0 16px 0 16px;
                    height: 100%;
                    font-size: 16px;
                    font-weight: bold;
                    cursor: pointer;
                    color: rgba(255, 255, 255, .9);
                    &:hover {
                        background-color: rgba(50, 140, 210, 1);
                    }
                }
            }

            .aqua-head-menu-item + .aqua-head-menu-item {
                margin-left: 1px;
            }

            > .aqua-active {
                // background-color: rgba(50, 140, 210, .8);
                background-color: rgba(42, 46, 58, 0.95);
            }
        }
    }
}



.dictionary-container {
    display: none;
    position: absolute;
    background-color: rgba(35, 35, 35, 1);
    box-shadow: 10px 10px 5px rgb(28, 25, 25);
    .dictionary-list {
        min-width: 400px;
        max-width: 800px;
        max-height: 300px;
        overflow-y: hidden;
        .dictionary-item {
            display: flex;
            font-size: 12px;
            justify-content: space-between;
            color: rgba(158, 162, 213, 1);
            padding: 4px 8px;
            cursor: pointer;
        }
    }
    .dictionary-item-active {
        background-color: rgba(118, 218, 255, .2);

        padding-left: 24px;
        &:before {
            content: '>';
            position: absolute;
            margin-left: -16px;
        }
    }
}
.dictionary-container-active {
    display: block;
}

.aqua-cursor-mark {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(0);
    height: 5px;
    background-color: rgba(255, 255, 255, .6);
}

body {
    margin: 0;
    background-color: rgba(35, 35, 35, .7);
}
img {
    display: inline-block;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.unselectable  {}

.my-editor {
    width: 1800px;
    height: 1200px;
    margin: 0 auto;
}

.aqua-header {
    height: 50px;
    line-height: 50px;
    background-color: rgba(42, 46, 58, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 0;
    cursor: default;
    pointer-events: none;
}
    .left {}
    .logo {
        display: inline-block;
        margin: 0 12px;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
    }
    .title {
        display: inline-block;
        font-family: "Consolas";
        font-size: 20px;
        color: rgba(255, 255, 255, 1);
        vertical-align: middle;
    }
    .Q {
        color: rgba(118, 218, 255, 1);
        padding: 0 .5px;
    }

.aqua-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(42, 46, 58, .95);
    /*background: url('./images/aqua-chan.png') no-repeat 50% 20%;*/
    /*background-size: cover;*/
}
    .bg-image {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity:  .95;
        width: 50%;
    }

.aqua-bg .aqua-chan {
    width: 100%;
}

/* Editor */
.aqua-editor {
    position: relative;
    height: 100%;
    font-family: Consolas;
}

/* Loading */
.aqua-loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(42, 46, 58, 1);
    text-align: center;
    transition: opacity .25s ease-out;
}
    .loading {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 80%;
        height: 6px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, .1);
        contain: strict;
    }
        .progress {
            --progress: -100%;
            visibility: visible;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform: translateX(var(--progress));
            background-color: rgba(255, 255, 255, .35);
            border-radius: 10px;
            transition-property: transform, visibility;
            transition-duration: 0.25s;
            transition-timing-function: ease-out;
        }
    .strut {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

/* Container */
.selected-line-container, .selection-container {
    position: absolute;
    left: 0;
    right: 0;
}
.selection {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 25px;
    background-color: rgba(255, 255, 255, .15);

    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
.selected-line-container .selected-line {
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    border-left: 1px solid rgba(255, 255, 255, .6);
    /* 使用 transition: height,top,opaicty,; 在火狐下几率会失效 */
    transition-property: height, top, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    background-color: rgba(255, 255, 255, .05);
}
.cursor-container {
    opacity: 1;
    transition: opacity .25s ease-out;
}
.inputer-container, .cursor-container {
    position: absolute;
}
.inputer-locator {
    position: relative;
    overflow: hidden;
}
.inputer {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    resize: none;
    width: 0;
    height: 22px;
    line-height: 22px;
    opacity: 0;
    outline: currentcolor none medium;
    white-space: pre;
}
.anchor {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 22px;
    background-color: rgba(118, 218, 255, .85);

    transition-property: transform, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.aqua-viewport {
    position: relative;
    display: flex;
    height: 100%;

    overflow-y: hidden;
}
.aqua-fixed {
    position: relative;
    flex: 0 0 200px;
}
    .side-bar-container {

    }
        .aqua-scroll-bar {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 6px;
            background-color: rgba(118, 218, 255, .05);
        }
            .aqua-slider {
                position: absolute;
                left: 0;
                right: 0;
                background-color: rgba(118, 218, 255, .15);
                height: 0;

                transition-property: transform, height;
                transition-duration: 0.2s;
                transition-timing-function: ease-out;
            }
.aqua-scroller {
    flex: 1 1 auto;
    transform: translateY(0);
    transition: transform 0.15s ease-out;
    // will-change: transform;
}
    .aqua-components {
        position: relative;
        cursor: text;
    }
    .aqua-variables {
        --line-width: 0;
        --ram-width: 0;
    }
        .full-width-container {
            position: absolute;
            left: 0;
            right: 0;
        }
        .line-width-container {
            position: relative;
            margin-left: var(--ram-width);
            height: 0;
        }
    .line-container {
    }
    .measurer-container {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        right: 0;
        left: 0;
    }
        .rem-measurer {
            position: absolute;
        }
        .line-measurer {
            position: absolute;
        }
        .ram-measurer {
            position: absolute;
        }

    /* Line about */
    .line {
        position: relative;
        line-height: 25px;
        font-size: 12px;
    }
        .prefix {
            position: absolute;
            transform: translateX(-100%);
            padding: 0 20px 0 20px;
            text-align: right;
            cursor: default;
            user-select: none;
        }
            .line-num {
                color: rgba(118, 218, 255, .5);
                width: var(--line-width);
            }
        .suffix {
            margin: 0;
            overflow-wrap: anywhere;
            white-space: pre-wrap;
            word-break: normal;
            // color: rgba(255, 255, 255, 1);
            color: rgba(163, 211, 245, .9);
        }
        code {
            line-height: 25px;
            margin-right: 0.1px; /* 修复 chrome 下的 getClientRects 不符合预期行为的问题, 以及撑开行高 */
            font-family: inherit;
        }
